@import url(//db.onlinewebfonts.com/c/a082fd3df68a0b54e0d4d794bc38d268?family=Blender+Pro);
@import "tailwindcss";

@font-face {
  font-family: "Blender Pro";
  src: url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.eot");
  src:
    url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.svg#Blender Pro") format("svg");
}

@font-face {
  font-family: "Odibee Sans";
  src: url("../fonts/Odibee_Sans/OdibeeSans-Regular.ttf");
}

*:focus {
  outline: none;
}

:root {
  --scrollbar-width: 17px;
  scrollbar-gutter: stable;
}

body {
  line-height: 1;
  scrollbar-gutter: stable both-edges !important;
}

body {
  width: 100%;
  background: black;
  font-family: "Blender Pro", sans-serif;
}

body.scrollable {

}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

audio {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

/*::-webkit-scrollbar {*/
/*  width: 8px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*  border-radius: 5px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*  background-color: #efe600;*/
/*}*/

/* */

header {
  background: #efe600;
  height: 955px;
  position: relative;
  overflow: hidden;
}

header::after {
  content: " ";
  background: url(@/assets/img/utility/bar1i.png);
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 2;
}

.text-custom-underline {
  @apply relative;

  &::after {
    content: " ";
    background: url(@/assets/img/utility/underline.png);
    height: 10px;
    width: 150px;
    position: absolute;
    bottom: -8px;
    left: 0;
  }
}


