@media screen and (max-width: 1500px) {
  .featureBoxText {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .featureBox {
    background-position: center !important;
  }
  .introduction::after {
    background: url(@/assets/img/utility/bar3c.png);
  }
}

@media screen and (max-width: 1100px) {
  .headerRightFieldLinks,
  .headerCP77VideoContainer {
    display: none;
  }
  .headerRightField .headerRightFieldStudio {
    grid-area: 1/2/1/2;
  }
  .headerRightField {
    padding: 15px;
  }
  .headerUnderVideo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .headerCP77Wrapper {
    min-height: 100vh;
  }
  .headerCP77Wrapper::before {
    background: url(@/assets/img/bg/CP77KVc.png) center no-repeat !important;
    background-size: cover;
    min-height: 100vh;
  }
  .headerUnderVideoDate,
  .headerUnderVideoPlatforms {
    display: none;
  }
  .headerUnderVideoPlatforms {
    color: #d6d10b;
  }
  .sectionGalleryContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 100px 1fr;
  }
  .sectionGalleryName {
    grid-area: 1/1/1/3;
  }
  .sectionGalleryCategory {
    grid-area: 2/1/2/3;
  }
  .categoriesContainer {
    margin: 0 auto;
  }
  .sectionGallerySlides {
    grid-area: 3/1/3/3 !important;
  }
}

@media screen and (max-width: 1000px) {
  .introduction::before {
    background: url(@/assets/img/utility/bar2invc.png);
  }
  .introduction {
    height: 800px;
    background-size: 100%;
    background: url(@/assets/img/bg/CP77zoc.png) top no-repeat;
  }
  .boxForIntroduction {
    display: block;
    width: 60%;
    padding: 25px 25px;
    position: absolute;
    right: 0;
    top: 30%;
  }
  .fieldForText {
    display: none;
  }
  #introductionP2 {
    display: block;
  }
  .features {
    padding-bottom: 75px;
  }
  .featuresWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
  }
  .featureBoxWrapper {
    margin: 50px auto 0;
  }
  .featuresWrapper .featureBoxWrapper:first-child .featureBox {
    background: url(@/assets/img/bg/CP77zjc.png);
  }
  .featuresWrapper .featureBoxWrapper:nth-child(2) .featureBox {
    background: url(@/assets/img/bg/CP77zkc.png);
  }
  .featuresWrapper .featureBoxWrapper:last-child .featureBox {
    background: url(@/assets/img/bg/CP77zfc.png);
  }
  .featureBox {
    height: 500px;
    width: 600px;
  }
  .featureBoxText {
    position: absolute;
    bottom: 10%;
    right: -25px;
    font-size: 32px;
    width: 60%;
  }
  .featureBoxWrapper p {
    font-size: 22px;
    max-width: 600px;
  }
  .sectionNewsTitle h2 {
    text-align: center;
  }
  .sectionNewsTitle h2::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  #firstUl {
    grid-template-columns: 1fr;
    font-size: 30px !important;
  }
  #firstUl li:first-child {
    grid-area: 1/1/1/-1;
    line-height: 75px;
    width: 100%;
  }
  #firstUl li:nth-child(2) {
    grid-area: 2/1/2/-1;
    line-height: 75px;
  }
  #firstUl li:nth-child(3) {
    grid-area: 3/1/3/-1;
  }
  #WTFm {
    display: block;
    line-height: 75px;
  }
  #WTFM {
    display: none;
  }
  #secondUl {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  #secondUl li {
    line-height: 75px;
  }
  #secondUl li:first-child {
    grid-area: 1/1/1/1;
  }
  #secondUl li:nth-child(2) {
    grid-area: 1/2/1/2;
  }
  #secondUl li:nth-child(3) {
    grid-area: 1/3/1/3;
  }
  #secondUl li:last-child {
    grid-area: 3/2/3/2;
  }
  #secondUl li:last-child i {
    width: 54px;
  }
}

@media screen and (max-width: 900px) {
  .sectionGalleryContainer {
    display: grid;
    grid-template-rows: 130px 1fr;
  }
  #secondUl li:last-child {
    display: block;
  }
}

@media screen and (max-width: 800px) {


  .headerRightFieldStudio img {
    height: 37px;
  }
  .headerCP77Wrapper::before{
    background: url(@/assets/img/bg/CPMobc.jpg) top no-repeat !important;
    background-size: cover !important;
  }
  .headerUnderVideo {
    position: absolute;
    bottom: 25%;
  }
}

@media screen and (max-width: 700px) {
  .featuresWrapper .featureBoxWrapper:first-child .featureBox {
    background: url(@/assets/img/bg/CP77zjcc.png);
  }
  .featuresWrapper .featureBoxWrapper:nth-child(2) .featureBox {
    background: url(@/assets/img/bg/CP77zkcc.png);
  }
  .featuresWrapper .featureBoxWrapper:last-child .featureBox {
    background: url(@/assets/img/bg/CP77zfcc.png);
  }
  .featureBox {
    width: 400px;
    height: 200px;
  }
  .featureBoxText {
    font-size: 18px;
  }
  .featureBoxWrapper p {
    font-size: 16px;
    max-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .categoriesContainer {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .featureBoxText {
    right: 0;
  }
  .swiper-container2 {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    margin: auto;
  }
  .featureBox {
    width: 100%;
  }
}
